.row-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.col-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.card-item {
    margin-top: 9%;
    max-width: 315px;
}

.imgDiv-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.imgAnimation-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 220px;
    width: 100%;
}

.img-item {
    height: 100%;
    padding: 3%;
    width: 94% !important;
}

.rowBtn-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    top: 110px;
}

.btnArrow-item {
    scale: 2;
    color: rgb(235, 194, 198);
}

#cardContent-item {
    padding-top: 0;
    padding-bottom: 0;
}


.title-item {
    font-size: 1em;
    color: rgb(209, 166, 170);
    margin-top: 2.5%;
}

.price-item {
    color: rgba(0, 0, 0, 0.35);
    font-size: 0.9em;
    margin-top: 1%;
    margin-bottom: 0;
}

#selectColor-item {
    margin-top: 4%;
    margin-bottom: 2%;
}

#selectSize-item {
    width: 100%;
    min-width: 283px;
}

.btn-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

#snackbar-item {
    position: unset;
    justify-content: center;
}

#alert-item {
    font-size: 1.2em;
    width: 55%;
}

#o-hidden {
    overflow: hidden;
}