main {
    margin-top: 7%;
}

.container-itemDetailContainer {
    display: flex;
    flex-wrap: inherit;
    margin: 3% 10% 5% 10%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.row-itemDetailContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.btn-itemDetailContainer {
    text-transform: none;
    color: rgba(215, 132, 140, 0.76) !important;
}