.container-itemDetail {
    display: flex;
    flex-wrap: inherit;
    margin: 3% 10% 5% 10%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.row-itemDetail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 2%;
}

.col-itemDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.title-itemDetail {
    text-transform: uppercase;
    text-align: start;
    color: rgba(215, 132, 140, 0.76);
    margin-top: 0;
    font-size: 1.8em;
}

.price-itemDetail {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.35);
    margin-top: 0;
    text-transform: uppercase;
    text-align: start;
}

.imgDiv-itemDetail {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.imgAnimation-itemDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.img-itemDetail {
    width: 100%;
}

.divider-itemDetail{
    height: 40vh !important;
}

.rowBtn-itemDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 87%;
    position: relative;
    z-index: 1;
}

.description-itemDetail {
    color: rgba(0, 0, 0, 0.35);
    text-align: start;
    font-size: 0.9em;
}

.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}

.space-evenly {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.subtitle-itemDetail {
    text-transform: uppercase;
    text-align: start;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0;
    margin-top: 6%;
    font-size: 1em;
}

.MuiSelect-select {
    color: rgba(0, 0, 0, 0.35) !important;
}

#btnBuy-itemDetail {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 0;
    border: 1px solid rgb(235, 194, 198);
}

.btn-itemDetail {
    margin-top: 10%;
    margin-left: 2%;
    text-align: start;
    border-radius: 0;
}

.btnArrow-itemDetail {
    scale: 2;
    color: rgb(235, 194, 198);
    border-radius: 0;
}

#snackbar-itemDetail {
    position: unset;
    justify-content: center;
}

#alert-itemDetail {
    font-size: 1.2em;
    width: 55%;
}

#o-hidden {
    overflow: hidden;
}