.cardItem {
    margin-top: 9%;
    max-width: 345px;
}

.img-cardItem {
    height: 280px;
}

.btn-cardItem {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cardContent-cardItem {
    padding-bottom: 0 !important;
}