.container-itemCount {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

.row-itemCount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.btn-itemCount {
    padding: 0;
    min-width: 40px;
    border-color: rgb(209, 166, 170) !important;
    color: rgb(209, 166, 170) !important;
}

.number-itemCount {
    color: rgba(0, 0, 0, 0.54);
}

.col-itemCount {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#btnBuy-itemCount {
    margin: 0 2%;
    background-color: rgb(235, 194, 198);
    color: rgb(176, 124, 129);
}